# Load the Data

In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
%matplotlib inline

In [2]:
!pip install psycopg2 --quiet

In [3]:
import psycopg2 as pg2
from psycopg2.extras import RealDictCursor

In [4]:
from os import chdir
chdir('/home/jovyan/madelon/')

In [5]:
pwd

'/home/jovyan/madelon'

In [6]:
import functions.db_helper as db

### Load UCI Madelon Datasets
https://archive.ics.uci.edu/ml/machine-learning-databases/madelon/MADELON/

In [7]:
madelon_test = './assets/madelon_test.data'
madelon_train = './assets/madelon_train.data'
madelon_train_labels = './assets/madelon_train.labels'
madelon_valid = './assets/madelon_valid.data'

In [8]:
madelon_test_df = pd.read_csv(madelon_test, delimiter=' ', header=None)
madelon_test_df.shape
madelon_test_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,483,460,559,477,462,491,499,475,495,479,...,480,546,630,434,497,479,503,465,494,NaN
1,484,509,538,473,548,497,551,477,498,471,...,482,493,442,440,587,475,483,509,455,NaN
2,476,529,558,477,505,486,545,477,473,480,...,482,465,389,460,459,484,476,564,521,NaN
3,487,475,480,494,477,472,512,477,486,480,...,476,536,622,523,445,481,490,481,548,NaN
4,486,490,480,471,520,481,437,476,484,482,...,473,474,491,516,515,475,497,453,497,NaN

In [9]:
madelon_train_df = pd.read_csv(madelon_train, delimiter=' ', header=None)
madelon_train_df.shape
#madelon_train_df.head()

(2000, 501)

In [10]:
madelon_train_labels_df = pd.read_csv(madelon_train_labels, delimiter=' ', header=None, names=['target'])
madelon_train_labels_df.shape
#madelon_train_labels_df.head()

(2000, 1)

Concatenate the target for the train set with the train set before sampling because then it will assure that we can test whether we ultimately classified the -1 or 1 correctly.

##### Get 3 samples of 10% of each of the Madelon and Cook `make_classification` datasets

In [11]:
madelon_train_withlabels = pd.concat([madelon_train_df, madelon_train_labels_df], axis=1)
madelon_train_sample200_1 = madelon_train_withlabels.sample(200)
madelon_train_sample200_1.head()

,0,1,2,3,4,5,6,7,8,9,...,492,493,494,495,496,497,498,499,500,target
138,479,438,533,490,485,479,493,479,504,483,...,495,564,474,516,482,469,574,482,NaN,1
472,478,476,514,491,619,471,565,475,482,475,...,469,745,455,460,474,475,548,550,NaN,-1
1422,481,492,475,479,527,480,508,474,480,475,...,501,603,433,524,476,490,467,532,NaN,-1
162,472,424,493,478,464,479,504,474,493,471,...,482,520,517,527,476,515,501,504,NaN,1
277,473,435,534,485,504,482,483,475,488,480,...,532,645,513,549,472,497,536,448,NaN,1

In [12]:
madelon_train_withlabels = pd.concat([madelon_train_df, madelon_train_labels_df], axis=1)
madelon_train_sample200_2 = madelon_train_withlabels.sample(200)
madelon_train_sample200_2.head()

,0,1,2,3,4,5,6,7,8,9,...,492,493,494,495,496,497,498,499,500,target
204,486,432,546,489,450,481,515,477,484,470,...,487,677,461,475,485,488,529,449,NaN,-1
1047,486,542,531,476,435,471,538,475,488,487,...,514,676,421,495,476,460,477,492,NaN,1
620,476,476,487,481,486,474,416,475,484,478,...,457,523,516,567,467,474,491,500,NaN,-1
675,489,486,399,486,515,493,589,474,478,483,...,482,678,453,486,483,463,531,515,NaN,1
647,487,490,459,492,493,472,537,476,497,494,...,474,582,479,521,483,475,491,466,NaN,1

In [13]:
madelon_train_withlabels = pd.concat([madelon_train_df, madelon_train_labels_df], axis=1)
madelon_train_sample200_3 = madelon_train_withlabels.sample(200)
madelon_train_sample200_3.head()

,0,1,2,3,4,5,6,7,8,9,...,492,493,494,495,496,497,498,499,500,target
274,485,482,527,495,459,485,495,477,480,467,...,503,606,453,519,481,466,484,478,NaN,1
310,491,459,539,481,497,480,452,478,463,487,...,519,186,534,523,468,484,567,467,NaN,-1
1049,481,485,503,479,538,478,505,476,481,478,...,477,597,586,539,478,499,508,533,NaN,1
1593,476,450,555,468,470,487,506,478,509,477,...,511,655,497,541,475,471,488,484,NaN,1
1497,488,456,476,477,546,488,510,477,472,465,...,518,592,500,464,464,479,516,474,NaN,1

In [14]:
madelon_data_to_concat = [madelon_train_sample200_1, madelon_train_sample200_2, madelon_train_sample200_3]
madelon_total_samples = pd.concat(madelon_data_to_concat)

In [15]:
madelon_valid_df = pd.read_csv(madelon_valid, delimiter=' ', header=None)
madelon_valid_df.shape
madelon_valid_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,491,492,493,494,495,496,497,498,499,500
0,483,454,513,495,523,469,453,477,506,479,...,480,543,259,413,520,485,498,523,510,NaN
1,485,508,493,487,478,472,504,476,479,475,...,480,535,534,514,452,484,495,548,477,NaN
2,483,521,507,475,493,486,421,475,496,483,...,476,498,495,508,528,486,465,508,503,NaN
3,474,504,576,480,553,483,524,478,483,483,...,475,470,463,509,525,479,467,552,517,NaN
4,495,474,523,479,495,488,485,476,497,478,...,471,522,343,509,520,475,493,506,491,NaN

In [16]:
madelon_sample_test = madelon_test_df.sample(180)

madelon_sample_train = madelon_total_samples.drop([500,'target'], axis=1)
madelon_sample_train_labels = madelon_total_samples['target']

madelon_sample_valid = madelon_valid_df.sample(60)

In [17]:
madelon_sample_test.to_pickle('./assets/pickled_samples/madelon_test_10.p')

madelon_sample_train.to_pickle('./assets/pickled_samples/madelon_sample_train.p')
madelon_sample_train_labels.to_pickle('./assets/pickled_samples/madelon_sample_train_labels.p')

madelon_sample_valid.to_pickle('./assets/pickled_samples/madelon_valid10.p')

### Load `make_classification` Dataset from Josh Cook's Database

In [18]:
con = pg2.connect(host='34.211.227.227', dbname='postgres', user='postgres')
cur = con.cursor(cursor_factory=RealDictCursor)

cur.execute('SELECT * FROM madelon ORDER BY RANDOM() LIMIT 2200;')
results1 = cur.fetchall()
con.close()

In [19]:
cook_sample1 = pd.DataFrame(results1)
cook_sample1.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,116031,-0.063592,-0.935132,-0.788636,2.006542,0.057752,-0.612374,-0.319290,-0.130704,-0.426335,...,0.079754,-0.609663,1.101417,-0.485404,0.085902,-0.780068,0.155906,0.241406,0.538386,1
1,24415,-0.452243,0.258384,0.620509,0.389080,-0.197159,0.829617,-0.059411,0.910375,-0.323078,...,-0.634202,0.556551,2.037437,-0.482600,-1.418812,0.079200,-0.368648,0.219643,-0.108730,1
2,115872,1.073645,-1.015950,-0.355322,0.452687,-0.744907,-0.776871,0.385545,0.576864,-0.339835,...,-0.270593,0.250330,0.173127,-0.673090,-0.450532,1.538424,0.276987,-0.257989,-0.351097,1
3,62456,-0.269215,1.790995,-0.171136,0.258013,-0.215587,-0.516337,-0.228766,-0.446238,0.418390,...,0.773900,-0.321531,0.847676,-1.532333,-0.613422,-1.498944,-1.059311,0.628973,-0.830657,0
4,173909,0.398804,0.579328,-0.905363,-0.124140,-0.545298,0.409123,-0.179135,0.275275,-0.253539,...,-0.643034,-0.752793,0.176453,0.234722,1.122761,-1.139794,1.231819,-0.783419,1.448478,1

In [20]:
con = pg2.connect(host='34.211.227.227', dbname='postgres', user='postgres')
cur = con.cursor(cursor_factory=RealDictCursor)

cur.execute('SELECT * FROM madelon ORDER BY RANDOM() LIMIT 2200;')
results2 = cur.fetchall()
con.close()

In [21]:
cook_sample2 = pd.DataFrame(results2)
cook_sample2.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,29698,-1.589063,0.067556,0.018574,-0.137173,0.614175,-1.132638,-0.493392,0.219869,-0.148960,...,-0.619968,0.588808,-0.381481,0.267131,-0.706452,0.865784,-0.529685,0.689967,0.977026,1
1,55717,-1.053888,-0.937100,2.612128,-0.361023,-0.012767,-0.083476,-0.533998,-1.288488,0.676686,...,-0.829458,-0.190978,0.766685,0.258397,-0.299872,-2.403651,-0.700574,1.417402,-0.371149,1
2,34036,-0.044948,0.697509,0.034982,-0.360453,-0.122382,0.138953,-0.672760,0.568634,-1.772893,...,0.151765,-2.190066,0.974135,-0.380292,0.766815,-0.635596,-1.036077,2.004910,0.225892,0
3,68596,1.287944,1.236222,-1.095459,-0.499199,-0.014141,-0.020199,0.401533,-0.944964,0.217793,...,-0.914288,-0.415920,-0.894987,-0.408754,-0.843129,0.270681,-0.298661,-1.908290,0.089561,1
4,98350,-0.100406,-1.493352,-1.253604,-0.383073,-1.372499,1.033121,0.435171,0.857476,0.743980,...,0.108215,1.194975,-0.279654,-1.528442,-1.302880,-1.227151,0.507956,-1.535520,0.142441,0

In [22]:
con = pg2.connect(host='34.211.227.227', dbname='postgres', user='postgres')
cur = con.cursor(cursor_factory=RealDictCursor)

cur.execute('SELECT * FROM madelon ORDER BY RANDOM() LIMIT 2200;')
results3 = cur.fetchall()
con.close()

In [23]:
cook_sample3 = pd.DataFrame(results3)
cook_sample3.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,128324,-0.368667,-0.468230,-0.771654,0.792025,0.313394,-0.737258,0.964212,0.518202,-0.722029,...,1.569128,0.502588,-0.155581,-0.654862,-0.813513,-1.158667,0.670823,0.023774,2.749421,0
1,146197,-0.414325,-0.633101,-0.291165,0.341298,-1.724695,-0.090099,-0.122346,-1.664653,0.411261,...,1.052285,-0.003311,-1.581876,-0.300694,1.245367,-0.083500,0.889905,0.498329,-1.182035,1
2,162798,-1.283332,0.451802,0.332690,-0.542965,-0.730125,0.701741,-0.764752,0.068783,1.308516,...,-0.339784,2.619882,-0.436063,0.421090,0.452450,1.765048,-0.023918,0.376586,0.415239,0
3,196035,-0.199401,-0.796114,1.109418,-0.827861,0.300929,-1.531995,1.335664,-1.019603,-0.688247,...,0.929820,1.476346,-1.302339,-0.080186,1.756297,-1.261129,2.308278,-0.693928,-0.325127,0
4,162034,0.173087,-0.632128,-0.686512,0.743510,2.017856,1.677797,-0.583707,-0.759919,-0.020203,...,1.239199,0.916920,-0.714814,1.588703,-1.065870,-0.842488,0.083260,0.072549,-1.429397,0

In [24]:
samples_to_concat = [cook_sample1, cook_sample2, cook_sample3]
cook_total_samples = pd.concat(samples_to_concat)

In [25]:
cook_total_samples.to_pickle('./assets/pickled_samples/cook_total_samples.p')